@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,600;0,700;1,500;1,600&family=Space+Grotesk:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  font-family: 'Mulish';
}

.stays__section__texts
{
  font-family: 'Montserrat';
}

.stays__section__article
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}

.modal__container
{
  pointer-events: unset;
}

.modal__bg
{
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal
{
  animation: showModal .4s ease;
}

@keyframes showModal {
  from{
    transform: translateY(-150%);
  }

  to{
    transform: translateY(0);
  }
}

.closedModal .closeModal
{
  animation: closeModal .4s ease;
}

@keyframes closeModal {
  from{
    transform: translateY(0);

  }

  to{
    transform: translateY(-150%);
    display: none;
  }
}

.closedModal
{
  display: none;
  animation: closeModalContainer .4s ease;
}

@keyframes closeModalContainer {
  from{
    display: block;
  }

  to{
    display: none;
  }
}

